<section class="section_1 has-text-white pt-4">
    <div class="top px-2">
        <span class="thin">Hi, my name is</span>
        <h1 class="title has-text-white has-text-weight-normal mt-2"><span class="has-text-weight-bold">Elise</span> van der knaap</h1>
        <h2 class="has-text-white is-size-7">- MSc student Internation Business specialization Strategic Marketing</h2>
        <div class="buttons my-6">
            <a href="#" class="button is-medium ek-button">Download CV</a>
            <a href="#" class="button is-medium ek-button">LinkedIn</a>
        </div>
    </div>
    <div class="img mt-2">
        <img src="{{ '/assets/img/20B040111.png' | relative_url }}" alt="" srcset="">
    </div>
</section>