<section>
    <div class="top px-2 has-text-white">
        <h2 class="title has-text-white has-text-weight-normal mt-2">I am a <span class="ek-green-text">Marketeer</span>.</h2>
        <p>I am hardworking, motivated and eager to learn. I am currently in my masters degree Strategic Marketing and ready to concour the corporate world.</p>
        <div class="buttons is-right">
            <a href="#" class="button ek-button">Learn more</a>
        </div>
    </div>
    <div class="ek-img mt-3">
        <img src="{{ '/assets/img/image2.png' | relative_url }}" alt="" srcset="">
    </div>
    
</section>